:root{
    --btn-primary: #635FC7;
    --btn-primary-hvr: #A8A4FF;
    --btn-secondary: #F4F7FD;
    --btn-secondary-hvr: #828FA3;
    --btn-destructive: #EA5555;
    --btn-destructive-hvr: #FF9898;

    --placeholder: #6c6969;
}

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

