:root{
    --btn-primary: #635FC7;
    --btn-primary-hvr: #A8A4FF;
    --btn-secondary: #F4F7FD;
    --btn-secondary-hvr: #828FA3;
    --btn-destructive: #EA5555;
    --btn-destructive-hvr: #FF9898;

    --placeholder: #6c6969;
}

@font-face {
    font-family: jakara;
    src: url(./font/PlusJakartaSans-VariableFont_wght.ttf);
}

body{
    font-family: jakarta, sans-serif;
}

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    gap: 1.5em;
    padding: 1em;
}

/*Navigation*/

.navigation{
    border-right: 1px solid #808080;
    height: 99vh;
}

.navigation img{
    max-width: 70%;
}

.navigation .secondLogo{
    display: none;
}

.navigation h4{
    padding-top: 2em;
    color: var(--btn-secondary-hvr);
}

.navigation button{
    margin-top: 1em;
    padding: 1em;
    width: 80%;
    border: none;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: var(--btn-primary);
}

/*Header*/

header{
    padding: .4em;
    font-size: 1.5rem;
}

/*Main-content*/

.main-content-wrapper{
    padding-right: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin-top: 1em;
}

.main-content-wrapper h4{
    font-size: 14px;
    font-weight: 200;
    color: var(--btn-secondary-hvr);
}

.to-doList{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
}

.to-doList div{
    padding: 1.5em;
    border: 1px solid #000;
    box-shadow: 5px 10px #808080;
    border-radius: 10px;
}


@media (max-width: 380px) {

    .wrapper{
        position: relative;
    }

    /*Navigation*/

    .navigation{
        border-right: none;
        height: fit-content;
        position: absolute;
    }

   .navigation img{
    display: none;
   }
  .navigation .secondLogo{
    display: block;
    width: 30%;
}
   .navigation button{
    display: none;
   }

   /*Header*/

   header h2{
    font-size: .8em;
    margin-left: 2.5em;
   }

   /*Main-Content*/
    .main-content-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: 1px solid #808080;
    }

    .main-content-wrapper h4{
        margin-top: 2em;
    }

   .to-doList div{
    padding: 1em;
    margin: 0 1em;
   }
}




