:root{
    --btn-primary: #635FC7;
    --btn-primary-hvr: #A8A4FF;
    --btn-secondary: #F4F7FD;
    --btn-secondary-hvr: #828FA3;
    --btn-destructive: #EA5555;
    --btn-destructive-hvr: #FF9898;

    --placeholder: #6c6969;
}

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    gap: 1.5em;
    padding: 1em;
}

/*Navigation*/

.navigation{
    height: 100vh;
}

.navigation img{
    width: 70%;
}

.navigation h4{
    padding-top: 2em;
}

.navigation button{
    margin-top: 1em;
}

/*Main-content*/

.main-content-wrapper{
    display: flex;
    justify-content: space-between;
}


